{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include"}]}.

{deps, [
    {
        enet,
        "",
        {git, "https://github.com/cezuriku/enet.git", {branch, "master"}}
    }
]}.

{relx, [
    {release, {gpb_enet_server, "0.1.0"}, [
        enet,
        gpb_enet_server,
        rt_room,
        sasl
    ]},

    {mode, dev},

    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    {prod, [
        {relx,
            %% prod is the default mode when prod
            [
                %% profile is used, so does not have
                %% to be explicitly included like this
                {mode, prod}

                %% use minimal mode to exclude ERTS
                %% {mode, minimal}
            ]}
    ]}
]}.

{project_plugins, [
    erlfmt,
    {rebar3_gpb_plugin, "2.19.0"}
]}.

{erlfmt, [
    write,
    {files, ["apps/gpb_enet_server/src/*.{hrl,erl}", "rebar.config"]}
]}.
